<div id="name"> <!--Name-->
  <h2>Radiography-Tests</h2>
  <p><i>
      Book your <strong>Radiography-Test</strong> with us. <br>
      Fill the below mentioned form to book your radiography-tests appointment. <br>
      You can book radiography-tests like X-ray,CT-Scan,MRI,ECG etc.,
  </i></p>
  </div>

    <div class="btncontainer1" id="go-back"> <!--Go Back Button has started-->
      <button class="btn btn-info float-start" id="button" type="submit"
      [routerLink]="['/Show-Tests']"
      routerLinkActive="router-link-active">Go Back</button>
      </div> <!--Go Back Button has ended-->

      <div id="buttoncontainer"> <!--Show All Radiography-Tests-->
        <button class="btn btn-info" id="button" type="submit" [routerLink]="['/showradiotests']"
        routerLinkActive="router-link-active" >Booked Radiography-Tests</button>
      </div>


  <div class="container"> <!--Container of form has started-->
    <div class="row top-row"> <!--top row has started-->
      <div class="col-xs-12 row end-xs"> <!--col-xs-12 row end-xs-->


          <div class="row"> <!--Form row has started-->
            <div class="col-xs-6">

              <form #RadiologyDetailsForm="ngForm" [formGroup]="radiodetailsform"> <!--Form has started-->

                <div class="row"> <!--First row has started-->

                  <div class="col-xs-6"> <!--Name Column-->
                    <mat-form-field appearance="outline">
                      <mat-label>Name:</mat-label>
                      <input type="text" matInput [(ngModel)]="radiotest.name" name="name" formControlName="name">
                      <!--display error-->
                    <mat-error *ngIf="name.errors?.required">Your Name is a required.</mat-error>
                    <mat-error *ngIf="name.errors?.pattern">Only alphabets are allowed.</mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-xs-6"> <!--Email Column-->
                    <mat-form-field appearance="outline">
                      <mat-label>Email:</mat-label>
                      <input type="text" matInput [(ngModel)]="radiotest.email" name="email" formControlName="email">
                      <!--display error-->
                    <mat-error *ngIf="email.errors?.email">Valid Email is a required.</mat-error>
                    </mat-form-field>
                  </div>
                </div> <!--First row has ended-->

                <div class="row"> <!--second row has started-->
                  <div class="col-xs-6"> <!--Number Column-->
                    <mat-form-field appearance="outline">
                      <mat-label>Phone Number:</mat-label>
                      <input type="text" matInput [(ngModel)]="radiotest.phone" name="phone"
                      formControlName="phone" minlength="10" maxlength="10">
                      <!--display error-->
                    <mat-error *ngIf="phone.errors?.required">Phone Number is a required.</mat-error>
                    <mat-error *ngIf="phone.errors?.pattern">Only numbers are allowed.</mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-xs-6"> <!--Appointment Date-->
                    <mat-form-field appearance="outline">
                      <input matInput [matDatepicker]="picker" [(ngModel)]="radiotest.date" formControlName="date" min="2022-07-04">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  </div> <!--second row has ended-->

                  <div class="row"> <!--third row has started-->

                    <div class="col-xs-6"> <!--Timing Selection-->
                      <mat-form-field appearance="outline">
                        <mat-label>Choose Timing:</mat-label>
                        <select matNativeControl [(ngModel)]="radiotest.timing" name="timing" formControlName="timing">
                          <option value="Morning 8AM-12PM">Morning 8AM-12PM</option>
                          <option value="Afternoon 2PM-4PM">Afternoon 2PM-4PM</option>
                          <option value="Evening 6PM-8PM">Evening 6PM-8PM</option>
                        </select>
                      </mat-form-field>
                    </div>
                    <div class="col-xs-6"> <!--Test Selection-->
                      <mat-form-field appearance="outline">
                        <mat-label>Choose Test:</mat-label>
                        <select matNativeControl [(ngModel)]="radiotest.test" name="test" formControlName="test">
                          <option>{{radiotest.test}}</option>
                          <option value="X-Ray">X-Ray</option>
                          <option value="CT-Scan">CT-Scan</option>
                          <option value="MRI">MRI</option>
                          <option value="MRI">Ultrasound</option>
                        </select>
                      </mat-form-field>
                    </div>

                  </div> <!--third row has started-->

                  <!--Buttons Row has started-->
                  <div class="row" id="buttonrow"> <!--Add Button-->
                    <div class="col-xs-4">
                      <button class="btn btn-info" (click)="onAdd()">BOOK NOW</button>
                    </div>
                  </div>
                  <!--Buttons Row has ended-->


                </form>
              </div>
            </div> <!--Form row has ended-->

      </div> <!--col-xs-12 row end-xs-->
    </div> <!--top row has ended-->
  </div> <!--Container of form has started-->
