#name{
  text-align: center;
}
#button{
float: right;
}
#button1{
  float: left;
}
#buttoncontainer{
padding-bottom: 50px;
padding-right: 70px;
}
.btncontainer{
  padding-bottom: 10px;
  padding-right: 70px;
}
#buttonrow{
  padding-bottom: 20px;
}
#go-back{
  padding-left: 70px;
}
